{% extends "layout.html" %}

{% block title %}
    Post Song
{% endblock %}

{% block main %}

<form action="/web/post_data" method="post">
        <select name="path" id="path">
            <option value="songs">Post Song</option>
            <option value="artist">Post Artist</option>
            <option value="album">Post Album</option>

            <option value="playlists">Post Playlist</option>

            <option value="playcount">Post Playcount/event</option>
        </select>
        <div class="form-group">

            <input autocomplete="off" autofocus class="form-control input-lg" name="json_data"
                   placeholder="JSON for a single record goes here" type="text" size="80">
        </div>
        <button class="btn btn-primary" type="submit">Post</button>
</form>

    <div>

    <h3>Sample Artist JSON </h3>
     {
        "artist_id": 41,
        "artist_name": "Melamie Sousa",
        "country": "Peru"
      }
    <h3> Sample Song JSON</h3>
      {
        "song_id": 115,
        "song_name": "Reign Over Me",
        "length": 324,
        "artist_ids": [
          41
        ]
      }
    <h3> Sample Song JSON</h3>
        {
            "song_id": 72,
            "song_name": "Andy Hardy's Double Life",
            "length": 184,
            "artist_ids": [
              41
            ]
          }
    <h3>Sample Album JSON</h3>
      {
        "album_id": 115,
        "album_name": "Regrant",
        "release_year": 2006,
        "artist_ids": [
          41
        ],
        "song_ids": [
            115,
            72
        ]
      }

    <h3> Sample Playlist</h3>
    {
      "playlist_id": 1,
      "playlist_name": "Sharpleaf Twinpod",
      "author_name": "Umeko Hagley",
      "song_ids": [ 115, 72 ]
    }

   <h3> Sample Playcount</h3>
    {
      "play_count": 8,
      "song_id": 72,
      "date": "2021-02-23",
      "playlist_id": 1
    }
    </div>

{%  if data != None and data|length > 0 %}
    <div id="showData" onload="CreateTableFromJSON(data)">
        <script>
            CreateTableFromJSON(data);
        </script>
    </div>
{% elif data != None and data|length == 0 %}
    <div>
        <h3>No Results found</h3>
    </div>
{% endif %}


{% endblock %}
