{% extends "layout.html" %}

{% block title %}
    Post Song
{% endblock %}

{% block main %}

<form action="/web/postsong" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control input-lg" name="json_song"
                   placeholder="JSON for a single record goes here" type="text" size="80">
        </div>
        <button class="btn btn-primary" type="submit">Post</button>
</form>

    <div>
    <h3>Sample JSON to copy paste into the form</h3>
 {"length":221,"song_id":1,"song_name":"CBGB","artist_id":44,"artist_name":"Megan Rizzini","country":"United States","album_id":68,"album_name":"It","release_year":2006}

    </div>

{%  if data != None and data|length > 0 %}
    <div id="showData" onload="CreateTableFromJSON(data)">
        <script>
            CreateTableFromJSON(data);
        </script>
    </div>
{% elif data != None and data|length == 0 %}
    <div>
        <h3>No Results found</h3>
    </div>
{% endif %}


{% endblock %}
